<h2 class="font-bold text-xl text-center mb-4">ログイン</h2>

<div class="flex justify-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-1/2" }) do |f| %>
    <div class="mb-6">
      <%= f.label :email, class: "mb-2 block text-sm text-gray-600" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full py-2 px-3 shadow border border-gray-300 rounded", placeholder: "user@example.com" %>
    </div>

    <div class="mb-6">
      <%= f.label :password, class: "mb-2 block text-sm text-gray-600" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full py-2 px-3 shadow border border-gray-300 rounded", placeholder: "⚫⚫︎⚫︎⚫︎︎⚫︎⚫︎⚫︎⚫︎⚫︎︎" %>
    </div>

    <%= f.submit "ログイン", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>
</div>
