<div class="flex flex-col gap-3 md:flex-row md:justify-between mb-4">
  <div class="text-xm font-bold">
    <%= @bicycle_parking.name %>
  </div>
  <div class="flex items-center gap-2 text-xs">
    <%= link_to "ダッシュボード /", admin_root_path, class: "text-gray-500" %>
    <%= link_to "駐輪場一覧 /", admin_bicycle_parkings_path, class: "text-gray-500" %>
    <div class="text-blue-500">
      <%= @bicycle_parking.name %>
    </div>
    </div>
  </div>
</div>
<div class="px-4 bg-white text-xs md:text-sm rounded">
  <div class="flex justify-between py-2 border-b border-neutral-200">
    <div class="flex items-center gap-2">
      <%= @bicycle_parking.name %>
      <span class="<%= status_style(@bicycle_parking) %>"><%= status_text(@bicycle_parking) %></span>
    </div>
    <%= link_to edit_admin_bicycle_parking_path(@bicycle_parking), class: "text-red-500 hover:text-red-700" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
      </svg>
    <% end %>
  </div>
  <div class="grid md:grid-cols-2 gap-4 py-2">
    <div class="flex flex-col gap-4">
      <div>
        所在地：<%= @bicycle_parking.location %>
      </div>
      <div>
        開場時間：<%= @bicycle_parking.opening_hours %>
      </div>
      <div>
        自転車収容台数：<%= @bicycle_parking.bicycle_capacity %>台
      </div>
      <div>
        50cc以下の原動機付自転車収容台数：<%= @bicycle_parking.motorized_bicycle_under_50cc_capacity %>台
      </div>
      <div>
        125cc以下の原動機付自転車収容台数：<%= @bicycle_parking.motorized_bicycle_under_125cc_capacity %>台
      </div>
      <div>
        自転車・50cc以下の原動機付自転車収容台数：<%= @bicycle_parking.bicycle_and_motorized_bicycle_under_50cc_capacity %>台
      </div>
      <div>
        自動二輪車収容台数：<%= @bicycle_parking.motorcycle_capacity %>台
      </div>
      <div>
        自動二輪車料金：<%= @bicycle_parking.motorcycle_price %>円
      </div>
    </div>
    <div class="border">ここに地図が入ります</div>
  </div>
</div>
